.header-container{
background-color: rgb(239, 239, 239);
position: fixed;
top: 0;
z-index: 99;
width: 100%;
left: 0;
text-align: center;
transition: background-color .4s;
}
.header-container-div{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}
.header-innercontainer{
        height: 80px;
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.header-leftpart{}
.header-rightpart{}
.header-linktext{
    color: rgb(105, 105, 105);
    display: inline-block;
    margin: 0 10px;
    
    padding: 2px 0;
    transition: border-color .4s;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}
.header-orders{}
.header-login-div{
    display: inline-block;
        margin: 0 5px;
        font-weight: 700;
        text-align: center;
}
.header-login-a{
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: rgb(0, 0, 0);
    width: auto;
    height: 30px !important;
    border: none;
    cursor: pointer;
    margin: .3125rem 1px;
    padding: 12px 30px;
    position: relative;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
    0 3px 1px -2px rgba(153, 153, 153, 0.2),
    0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.4;
    white-space: nowrap;
    will-change: box-shadow,transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
     border-radius: 30px;
     border: none;
     cursor: pointer;
     margin: .3125rem 1px;
     font-size: 16px;
  
       
}
.header-login-text {
    width: 100%;
    color: white;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    cursor: pointer;
}
.header-login-body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    
}
.header-sign-up-div{
    display: inline-block;
    margin: 0 5px;
    font-weight: 700;
    text-align: center;
}
.header-sign-up-a{
    height: 30px !important;
    padding: 20 20px !important;
      /* border: 2px solid; */
      /* border-radius: 30px; */
    
}
.header-sign-up-text{
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: transparent;
        font-size: 16px;
    color: rgb(2, 103, 100);
  
    border-color: rgb(2, 103, 100);
    
}
.header-sign-up-body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
     
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}