.main-page-body{
    position: relative;
    margin-top: 450px;
    background:white;
    /* height: 1500px; */
}

.main-page-header{

    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    position: sticky;
    top: 80px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 1px 0 10px -5px #a5a5a5;
    height: 75px;
}

.main-header-contents{
    background: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
    align-items: center;
}

.header-address-div{
width: 180px;
text-align: center;
color: #a5a5a5;
text-decoration: none;
cursor: pointer;
}

.header-address-title {
        color: #996515;
        text-align: center;
        cursor: pointer;
}
.header-address-btn{
        margin-top: 5px;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 10px;
        background-color: #996515;
        color: #fff;
      cursor: pointer;
          text-align: center;
}

.header-change-div{
    text-align: center;
    display: inline-block;
}
.header-change-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    border-color: rgb(0, 0, 0);
    margin: 0 20px;
        height: 30px !important;
        padding: 0 10px !important;
        border-radius: 30px;
        border: none;
        cursor: pointer;
       
        position: relative;
        font-size: 12px;
        min-width: auto;

        min-height: auto;
        text-align: center;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        will-change: box-shadow,
        transform;
        touch-action: manipulation;
}

.header-change-btn-text{
        width: 100%;
        font-size: 12px;
        color: white;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        cursor: pointer;
}

.header-change-btn-body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    padding: 12px 30px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.header-servicetype-div{
    display: inline-block;
    position: relative;
}
.heaer-servicetype-underline{
    width: 59px;
    transform: translateX(0px);
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #026764;
    transition: transform .4s,
    width .2s,
    -webkit-transform .4s;
    display: inline-block;
    cursor: pointer;
}
.heaer-servicetype-type{
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.heaer-servicetype-or{
    color: #a5a5a5;
    margin: 0 6px;
    display: inline-block;
    cursor: pointer;
}

.heaer-servicetype-divider{
   display: inline-block;
   height: 30px;
   width: 2px;
   margin: 0 10px;
   background-color: #d7d7d7;
}

.heaer-servicetype-link{
    color: #696969 !important;
        text-decoration: none !important;
        font-size: 16px !important;
          cursor: pointer !important;
}

.raws{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.inner-raws{
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
}

.raw-list{
    margin-top: 30px;
    width: 100%;
}

.raw-list-title{
    margin-bottom: 10px;
    text-align: left;
}

.list-title{
        font-size: 20px;
        font-weight: 700;
}

.list-title-b{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        font-size: 16px;
        color: #a5a5a5;
        padding-right: 8px;
}
.list-title-underline{
    margin: 10px 0 20px;
    padding-right: 30px;
    height: 1px;
    background-color: #d7d7d7;
    
}

.list-line-bar{
    position: relative;
}

.list-line-barc{
    
    transition: left .5s cubic-bezier(.74, 0, .35, .96);
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000;
    opacity: .9;
}

.list-slider{
  display: inline-block;
  width: 100%;
  position: relative;
}

.list-container{
    transform: translateX(-5px);
    overflow: hidden;
    padding-right: 50px;
}

.list-inner-container{
    transform: translateX(0%);
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 0 0 10px;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.74, 0, .35, .96);
    transition: -webkit-transform .5s cubic-bezier(.74, 0, .35, .96);
    transition: transform .5s cubic-bezier(.74, 0, .35, .96);
    transition: transform .5s cubic-bezier(.74, 0, .35, .96),
    -webkit-transform .5s cubic-bezier(.74, 0, .35, .96);
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

@media(min-width:300px) {

    .list-card {
        width: 100%;
        min-width: 100%;
        display: inline-block;
        white-space: normal;
        text-align: center;
        vertical-align: top;
    }

}
@media(min-width:600px) {

    .list-card {
        width: 50%;
        min-width: 50%;
        display: inline-block;
        white-space: normal;
        text-align: center;
        vertical-align: top;
    }

}

@media(min-width:950px) {
    .list-card {
        width: 33.33333%;
        min-width: 33.33333%;
        display: inline-block;
        white-space: normal;
        text-align: center;
        vertical-align: top;
    }
}




.list-card-container{
    padding: 0 5px;
    height: 100%;
}

.list-inner-card{
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   text-align: left !important;
    height: 100%;
}
.list-card-pic-div{
    border-radius: 5px;
    height: 220px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 10px;
}

.list-card-pic-link{
        display: inline-block;
        text-decoration: none;
        color: #000;
        cursor: pointer;
}

.list-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.list-card-img-text {
    position: absolute;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    background-color: #000;
    color: #f5f5f5;
    opacity: .85;
    display: inline-block;
}

.list-card-info-container{
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 5px 4px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.list-card-info-title{
    font-size: 18px;
}

.list-card-info-subtitle {
   font-size: 15px;
}
.list-card-info-subtitle-firstlink {
  color: #026764;
  display: inline-block;
      cursor: pointer;
}

.list-card-info-subtitle-seclink {
    color: #696969;
    display: inline-block;
    cursor: pointer;
}

.list-card-info-subtitle-seclink::before {
   content: " . ";
}
.list-info-time-div{
    font-size: 14px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}
.info-time-timelight{
background-color: #f5f5f5;
display: inline-block;
margin: 1px;
padding: 2px;
}

.info-time-timetext{
        vertical-align: middle;
        font-size: 14px;
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
}


.info-time-info-dark{
    background-color: #d7d7d7;
        display: inline-block;
        margin: 1px;
        padding: 2px;
}

.info-time-info-service{
        color: #026764;
        background-color: #f5f5f5;
        display: inline-block;
        margin: 1px;
        padding: 2px;
}



.list-slider-last{
    left: -65px;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 65px;
    align-items: center;

}
.list-slider-next{
    right: -65px;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 65px;
    align-items: center;
}

.list-slider-nextbtn{
    position: absolute;
    left: -50%;
    background-color: #026764 !important;
    color: #fff;
    padding: 8px;
    display: inline-block;
    animation-name: bounce-in;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.53, .72, .81, .31);
        animation-delay: 0s;
        animation-direction: normal;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-play-state: running;
    overflow: visible;
                font-size: 1.5rem;
                text-align: center;
                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                border-radius: 50%;
                flex: 0 0 auto;
                border: 0;
                cursor: pointer;
                margin: 0;
                    align-items: center;
                    user-select: none;
                    vertical-align: middle;
                    justify-content: center;
                    text-decoration: none;
                    -webkit-appearance: none;
                    -webkit-tap-highlight-color: transparent;
}
.nextbtn-body{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    cursor: pointer;

}


.raw-about{
border-top: .5px solid #d7d7d7;
justify-content: space-around;
align-items: center;
margin: 0;
box-sizing: border-box;
width: 100%;
display: flex;
flex-wrap: nowrap !important;
padding: 30px 0;
}

.raw-about-img-div{
    max-width: 450px;
    padding: 20px;
    display: inline-block;
    width: 80%;
  
    box-sizing: border-box;
    flex-shrink: 0;
}

.raw-about-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.raw-about-text-div{
    display: inline-block;
    text-align: center;
    max-width: 450px;
    margin: 0 10px;
}

.about-upper-title{

}

.about-logo-div{

} 

.about-des-div{
    text-align: justify;
    font-size: 16px;
} 

.about-btn-div{
        margin-top: 20px;
        text-align: left;
}



.about-btn-innerdiv {
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.about-btn {

    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    border-color: rgb(0, 0, 0);
    font-size: 18px;
    height: 50px !important;
    padding: 0 12px !important;
    border-radius: 30px;
        border: none;
        cursor: pointer;
        margin: .3125rem 1px;
        min-height: auto;
        text-align: center;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        will-change: box-shadow,
        transform;
        touch-action: manipulation;
        vertical-align: middle;
}

.about-btn-label {
width: 100%;
display: inherit;
align-items: inherit;
justify-content: inherit;
cursor: pointer;
/* background-color: rgb(0, 0, 0); */
color: rgb(245, 245, 245);
border-color: rgb(0, 0, 0);
    font-size: 18px;
    height: 50px !important;
    padding: 0 12px !important;
}

.about-btn-body{

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    cursor: pointer;
}