.makeStyles-appBar-23{
    height: 80px;
    position: fixed !important;
    box-shadow: none !important;
    z-index: 99 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    transition: background-color .4s !important;
}

.slider-main-div{
    /* background-image: url('../assets/img/HomeHeader.d4396cb2.jpg'); */
  top: 80px;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 430px;
}

.slider-main-pic{
      /* background-image: url('../assets/img/HomeHeader.d4396cb2.jpg'); */
       /* background-size: contain; */
       /* background-repeat: no-repeat; */
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         left: 0;

}
.slider-img{
    filter: blur(0px);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider{
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
    margin: 0;
    box-sizing: border-box;
        position: relative;
    height: 80%;
}

.carousel-caption {
 position: absolute !important;
 right: 48% !important;
 bottom: 0px !important;
 top: 72px !important;
 left: 11% !important;
 z-index: 10 !important;
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 color: black !important;
 text-align: left !important;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.carousel-control-prev-icon{
    
    display:none !important
}

.carousel-control-next-icon{
    display: none
}
